<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>View Users</title>
</head>
<body>
    <h1>View User</h1>
    <button onclick="window.location.href='/'" class="add_click">Home</button>
    <table class="middle">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created On</th>
            <th>Last Updated On: </th>
        </tr>
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.updated_at }}</td>
        </tr>
    </table>
    <button onclick="window.location.href='/fourth/{{user.id}}'" class="add_click">Edit</button>
    <button onclick="window.location.href='/third/{{user.id}}'" class="add_click">Delete</button>
</body>
</html>
